.header {
    position: fixed;
    padding: 20px;
    background-color: rgb(65, 70, 73);
    font-size: 20px;
    color: white;
}
.settings {
    display: flex;
    align-items: center;
}
.container-thickness, .container-color {
    margin: 0 10px;
}
.thickness-number {
    padding: 5px;
    width: 115px;
    border: none;
    outline: none;
}
.color-number-wrapper {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
}
.color-number {
    border: 0;
    padding: 0;
    width: 200%;
    height: 200%;
    cursor: pointer;
    transform: translate(-25%, -25%)
}